/* fonts */
@font-face {
  font-family: Quicksand; /* Имя шрифта */
  src: url(../fonts/Quicksand/static/Quicksand-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Quicksand; /* Имя шрифта */
  src: url(../fonts/Quicksand/static/Quicksand-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto; /* Имя шрифта */
  src: url(../fonts/Roboto/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}

/* common */

/* buttons */
.btn {
  font-weight: 700;
  height: 43px;
  padding: 0px 14px;
}

.btn.btn--primary {
  background-color: #d8e0f7;
  border-color: #d8e0f7;
  border-style: solid;
  color: #3a79ff;
  border-radius: 2px;
}

.btn.btn--primary:hover {
  cursor: pointer;
  background-color: #bdc7e2;
  border-color: #bdc7e2;
}

/* container */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1208px;
}

/* header */
.header {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  align-items: center;
}

.header .container {
  justify-content: space-between;
  display: flex;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 74px;
}
.menu {
  font-family: Quicksand;
}
.menu__item {
  text-decoration: none;
  color: #697ca6;
}

.menu__item:hover {
  color: #525783;
}

.menu__item.menu__item--active {
  color: #5e81fe;
}

.menu__item + .menu__item {
  margin-left: 42px;
}

.socials {
  margin-right: 44px;
}
.socials__item:hover {
  filter: invert(46%) sepia(69%) saturate(1507%) hue-rotate(206deg)
    brightness(101%) contrast(100%);
}

.socials__item:not(:last-child) {
  margin-right: 38px;
}


/* hero */
.section.section--hero {
    padding-top: 92px;
    padding-bottom: 208px;
}
.section.section--hero .container {
  text-align: center;
}

.title.title--small {
  font-size: 10px;
  font-family: Roboto;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
}

.title {
    font-size: 48px;
    font-family: 'Quicksand';
    letter-spacing: -0.01em;
    margin-bottom: 28px;
}

.section.section--hero p {
    max-width: 502px;
    margin: 0 auto;
    line-height: 1.7em;
}

.section.section--hero p {
    margin-bottom: 20px;
}

button.btn.btn--circle {
    border-radius: 50%;
    height: 52px;
    width: 52px;
    border-color: #fff;
    border-style: solid;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px;
    }  

    .section.section--hero {
  margin-bottom: 58px;
}
section.partners.partners--brands {
  display: flex;
  justify-content: center;
  letter-spacing: 72px;
   width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1208px;
  margin-bottom: 170px;
}
/* fonts */
@font-face {
  font-family: Quicksand; /* Имя шрифта */
  src: url(../fonts/Quicksand/static/Quicksand-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Quicksand; /* Имя шрифта */
  src: url(../fonts/Quicksand/static/Quicksand-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto; /* Имя шрифта */
  src: url(../fonts/Roboto/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}

/* common */

/* buttons */
.btn {
  font-weight: 700;
  height: 43px;
  padding: 0px 14px;
}

.btn.btn--primary {
  background-color: #d8e0f7;
  border-color: #d8e0f7;
  border-style: solid;
  color: #3a79ff;
  border-radius: 2px;
}

.btn.btn--primary:hover {
  cursor: pointer;
  background-color: #bdc7e2;
  border-color: #bdc7e2;
}

/* container */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1208px;
}

/* header */
.header {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  align-items: center;
}

.header .container {
  justify-content: space-between;
  display: flex;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 74px;
}
.menu {
  font-family: Quicksand;
}
.menu__item {
  text-decoration: none;
  color: #697ca6;
}

.menu__item:hover {
  color: #525783;
}

.menu__item.menu__item--active {
  color: #5e81fe;
}

.menu__item + .menu__item {
  margin-left: 42px;
}

.socials {
  margin-right: 44px;
}
.socials__item:hover {
  filter: invert(46%) sepia(69%) saturate(1507%) hue-rotate(206deg)
    brightness(101%) contrast(100%);
}

.socials__item:not(:last-child) {
  margin-right: 38px;
}


/* hero */
.section.section--hero {
    padding-top: 92px;
    padding-bottom: 208px;
}
.section.section--hero .container {
  text-align: center;
}

.title.title--small {
  font-size: 10px;
  font-family: Roboto;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
}

.title {
    font-size: 48px;
    font-family: 'Quicksand';
    letter-spacing: -0.01em;
    margin-bottom: 28px;
}

.section.section--hero p {
    max-width: 502px;
    margin: 0 auto;
    line-height: 1.7em;
}

.section.section--hero p {
    margin-bottom: 20px;
}

button.btn.btn--circle {
    border-radius: 50%;
    height: 52px;
    width: 52px;
    border-color: #fff;
    border-style: solid;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px;
    }  

.partners.partners--brands {
  display: flex;
  justify-content: center;
  letter-spacing: 72px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1208px;
  margin-bottom: 170px;
}

.plan.and-manage{
  display: flex;
  width: 100%;
}

.plan__left{
  max-width: 428px;
  max-height: 391px;
}
/* fonts */
@font-face {
  font-family: Quicksand; /* Имя шрифта */
  src: url(../fonts/Quicksand/static/Quicksand-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Quicksand; /* Имя шрифта */
  src: url(../fonts/Quicksand/static/Quicksand-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto; /* Имя шрифта */
  src: url(../fonts/Roboto/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}

/* common */

/* buttons */
.btn {
  font-weight: 700;
  height: 43px;
  padding: 0px 14px;
}

.btn.btn--primary {
  background-color: #d8e0f7;
  border-color: #d8e0f7;
  border-style: solid;
  color: #3a79ff;
  border-radius: 2px;
}

.btn.btn--primary:hover {
  cursor: pointer;
  background-color: #bdc7e2;
  border-color: #bdc7e2;
}

/* container */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1208px;
}

/* header */
.header {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  align-items: center;
}

.header .container {
  justify-content: space-between;
  display: flex;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 74px;
}
.menu {
  font-family: Quicksand;
}
.menu__item {
  text-decoration: none;
  color: #697ca6;
}

.menu__item:hover {
  color: #525783;
}

.menu__item.menu__item--active {
  color: #5e81fe;
}

.menu__item + .menu__item {
  margin-left: 42px;
}

.socials {
  margin-right: 44px;
}
.socials__item:hover {
  filter: invert(46%) sepia(69%) saturate(1507%) hue-rotate(206deg)
    brightness(101%) contrast(100%);
}

.socials__item:not(:last-child) {
  margin-right: 38px;
}


/* hero */
.section.section--hero {
    padding-top: 92px;
    padding-bottom: 208px;
}
.section.section--hero .container {
  text-align: center;
}

.title.title--small {
  font-size: 10px;
  font-family: Roboto;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
}

.title {
    font-size: 48px;
    font-family: 'Quicksand';
    letter-spacing: -0.01em;
    margin-bottom: 28px;
}

.section.section--hero p {
    max-width: 502px;
    margin: 0 auto;
    line-height: 1.7em;
}

.section.section--hero p {
    margin-bottom: 20px;
}

button.btn.btn--circle {
    border-radius: 50%;
    height: 52px;
    width: 52px;
    border-color: #fff;
    border-style: solid;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px;
    }  

    .section.section--hero {
  margin-bottom: 58px;
}
section.partners.partners--brands {
  display: flex;
  justify-content: center;
  letter-spacing: 72px;
   width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1208px;
  margin-bottom: 170px;
}
/* fonts */
@font-face {
  font-family: Quicksand; /* Имя шрифта */
  src: url(../fonts/Quicksand/static/Quicksand-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Quicksand; /* Имя шрифта */
  src: url(../fonts/Quicksand/static/Quicksand-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto; /* Имя шрифта */
  src: url(../fonts/Roboto/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}

/* common */

/* buttons */
.btn {
  font-weight: 700;
  height: 43px;
  padding: 0px 14px;
}

.btn.btn--primary {
  background-color: #d8e0f7;
  border-color: #d8e0f7;
  border-style: solid;
  color: #3a79ff;
  border-radius: 2px;
}

.btn.btn--primary:hover {
  cursor: pointer;
  background-color: #bdc7e2;
  border-color: #bdc7e2;
}

/* container */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1208px;
}

/* header */
.header {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  align-items: center;
}

.header .container {
  justify-content: space-between;
  display: flex;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 74px;
}
.menu {
  font-family: Quicksand;
}
.menu__item {
  text-decoration: none;
  color: #697ca6;
}

.menu__item:hover {
  color: #525783;
}

.menu__item.menu__item--active {
  color: #5e81fe;
}

.menu__item + .menu__item {
  margin-left: 42px;
}

.socials {
  margin-right: 44px;
}
.socials__item:hover {
  filter: invert(46%) sepia(69%) saturate(1507%) hue-rotate(206deg)
    brightness(101%) contrast(100%);
}

.socials__item:not(:last-child) {
  margin-right: 38px;
}


/* hero */
.section.section--hero {
    padding-top: 92px;
    padding-bottom: 208px;
}
.section.section--hero .container {
  text-align: center;
}

.title.title--small {
  font-size: 10px;
  font-family: Roboto;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
}

.title {
    font-size: 48px;
    font-family: 'Quicksand';
    letter-spacing: -0.01em;
    margin-bottom: 28px;
}

.section.section--hero p {
    max-width: 502px;
    margin: 0 auto;
    line-height: 1.7em;
}

.section.section--hero p {
    margin-bottom: 20px;
}

button.btn.btn--circle {
    border-radius: 50%;
    height: 52px;
    width: 52px;
    border-color: #fff;
    border-style: solid;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px;
    }  


 

/*plan and manage*/
.container-container__manage {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}
.title-plan{
  display: flex;
  flex-direction: column;
margin-left: 482px;
margin-top: 48px;
border: solid;
max-width: 427px;

}
.container__lgo {
  display: flex;
  align-items: center;
}
.lgo {
  margin-right: 212px;
}
.title__title-h6 {
font-size: 10px;
font-family: Roboto;
color: #3D4F9F;
margin-bottom: 39px;
}
.title__title-h2 {
font-size: 36px;
font-family: Quicksand;
color: #3D4F9F;
margin: 0px;
}
.title__title-p {
  font-size: 15px;
  font-family: Roboto;
  color: #8D96BD;
  letter-spacing: 1px;
}
.btn-1 {
  font-weight: 259px;
  height: 43px;
}

